@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1f1d1d;
}

h1 {
    text-align: center;
    color: aliceblue;
}

h2 {
    margin: 3px;
    font-size: 18px;
    font-weight: 750;
}

p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: block;

    box-shadow: 5px 5px 35px black;
    margin: 5px;
    padding: 10px;

    border-radius: 15px;

    width: 15rem;
    height: 27rem;

    text-align: start;

    transition: transform 0.2s ease;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.card.satu {
    background-color: #fecf03;
    color: #1a1f1b;
}

.card.dua {
    background-color: #ee3d2d;
    color: #eee;
}

.card.tiga {
    background-color: #006fb9;
    color: #eee;
}

.card-image {
    width: 100%;
    height: 19rem;

    background-size: cover;
    background-position: center;

    border-radius: 15px;
}

.menu1 {
    background-image: url('./img/eggs-benedict.jpg');
}

.menu2 {
    background-image: url('./img/ramen-scrambled-eggs.jpg');
}

.menu3 {
    background-image: url('./img/easy-egg-noodles.jpg');
}